@font-face {
    font-family: 'Scouts-en-Gidsen-Vlaanderen';
    src:    url('../fonts/Scouts-en-Gidsen-Vlaanderen.eot?rdcw5f');
    src:    url('../fonts/Scouts-en-Gidsen-Vlaanderen.eot?rdcw5f#iefix') format('embedded-opentype'),
        url('../fonts/Scouts-en-Gidsen-Vlaanderen.ttf?rdcw5f') format('truetype'),
        url('../fonts/Scouts-en-Gidsen-Vlaanderen.woff?rdcw5f') format('woff'),
        url('../fonts/Scouts-en-Gidsen-Vlaanderen.svg?rdcw5f#Scouts-en-Gidsen-Vlaanderen') format('svg');
    font-weight: normal;
    font-style: normal;
}

.scouts-font {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Scouts-en-Gidsen-Vlaanderen' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Internationaal */
.scouts-int-scouts:before {
	content: "\e90f";
}
.scouts-int-scouts-color:before {
	content: "\e90f";
	color: #5f1d7f;
}
.scouts-int-scouts-full:before {
	content: "\e910";
}
.scouts-int-scouts-full-color:before {
	content: "\e910";
	color: #5f1d7f;
}
.scouts-int-gidsen:before {
	content: "\e907";
}
.scouts-int-gidsen-color:before {
	content: "\e907";
	color: #0063a7;
}

/* Scouts en Gidsen Vlaanderen */
.scouts-scoutsgidsenvl:before {
	content: "\e911";
}
.scouts-scoutsgidsenvl-color:before {
	content: "\e911";
	color: #758e3a;
}
.scouts-zeescouting:before {
	content: "\e914";
}
.scouts-zeescouting-color:before {
	content: "\e914";
	color: #004878;
}
.scouts-favicon:before {
    content: "\e900";
}
.scouts-favicon-color:before {
	color: #bdd732;
    content: "\e900";
}
.scouts-groepsadmin:before {
    content: "\e902";
}
.scouts-groepsadmin-color:before {
	color: #287092;
    content: "\e902";
}

/* Hopper */
.scouts-hopper-wnkl:before {
	content: "\e909";
}
.scouts-hopper-wnkl-color:before {
	content: "\e909";
	color: #b6121b;
}
.scouts-hopper-jgd:before {
	content: "\e908";
}
.scouts-hopper-jgd-color:before {
	content: "\e908";
	color: #727b34;
}
.scouts-hopper:before {
	content: "\e90a";
}
.scouts-hopper-color:before {
	content: "\e90a";
	color: #000000;
}



/* Groepen */
.scouts-kapoenen-zeehondjes:before {
	content: "\e90d";
}
.scouts-kapoenen-zeehondjes-color:before {
	content: "\e90d";
	color: #dcef07;
}
.scouts-zee-kabouters-welpen:before {
	content: "\e913";
}
.scouts-zee-kabouters-welpen-color:before {
	content: "\e913";
	color: #298e40;
}
.scouts-jonggidsen-jongverkenners-scheepsmakkers:before {
	content: "\e90c";
}
.scouts-jonggidsen-jongverkenners-scheepsmakkers-color:before {
	content: "\e90c";
	color: #fb8b05;
}
.scouts-zee-gidsen-verkenners:before {
	content: "\e912";
}
.scouts-zee-gidsen-verkenners-color:before {
	content: "\e912";
	color: #0d29d3;
}
.scouts-jins-loodsen:before {
	content: "\e90b";
}
.scouts-jins-loodsen-color:before {
	content: "\e90b";
	color: #b1031c;
}
.scouts-akabe:before {
	content: "\e906";
}
.scouts-akabe-color:before {
	content: "\e906";
	color: #bb4599;
}
.scouts-leiding:before {
	content: "\e90e";
}
.scouts-leiding-color:before {
	content: "\e90e";
	color: #730ccd;
}
.scouts-groepsleiding:before {
    content: "\e901";
}
.scouts-groepsleiding-color:before {
	color: #572700;
    content: "\e901";
}
